# EditorConfig for Cuckoo Linux
# https://editorconfig.org/
#
# SPDX-License-Identifier: GPL-3.0-or-later

root = true

# Unix newlines, UTF-8, no trailing spaces, two spaces for indentation
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 2
max_line_length = 120
# for shfmt
switch_case_indent = true
binary_next_line = true

# Files that come from archiso keep their original style
[{archiso/**,configs/baseline/**,configs/releng/**,scripts/run_archiso.sh}]
indent_size = 4

[Makefile]
indent_style = tab
